doctype html
html(lang="en")
    head
        title Books
    body
        h1 Books
        p
            a.button(href='/books/new') Create New Book
        table
            thread
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
                    