doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        h1= title
        p
            a.button(href='/books/new') Create New Book
        table
            thread
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
